.App {
  text-align: center;
  font-family: "Arial", sans-serif;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  position: relative; /* Make the header a positioning context */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.8;
}

.buttons-container {
  position: relative; /* Ensure the buttons container allows absolute positioning */
}

.yes-button {
  background-color: green;
  color: white;
}

.no-button {
  background-color: red;
  color: white;
}

body {
  font-family: 'Arial', sans-serif; /* Arial is a common sans-serif font */
}